<div class="provider-page">
  <div class="provider-wrapper">
    <!-- Header oscuro -->
    <div class="provider-header">
      <img src="assets/nuvant.png" alt="Nuvant" />
    </div>
    <!-- Card blanca -->
    <div class="provider-card">
      <div class="icon-circle">
        <img src="assets/favicon.ico" />
      </div>
        <h1>Completa tu registro como proveedor</h1>

        @if (!tokenSent) {
          <div class="login-intro">
            <p>Para comenzar, enviaremos un código de seguridad a tu correo electrónico registrado.</p>
            <div class="actions">
              <button type="button" class="btn-primary" (click)="requestToken()" [disabled]="loading">
                {{ loading ? 'Enviando...' : 'Login' }}
              </button>
            </div>
          </div>
        }

        @else {
          <div class="token-section" style="animation: fadeIn 0.5s ease;">
            <p class="token-label">Ingresa el token enviado a tu correo</p>

            <div class="token-box" (paste)="onPaste($event)">
              <input
                #otpInput
                *ngFor="let ctrl of digitsFA.controls; let i = index"
                type="text"
                inputmode="numeric"
                maxlength="1"
                [formControl]="ctrl"
                (input)="onInput($event, i)"
                (keydown)="onKeydown($event, i)"
              />
            </div>

            <div class="actions">
              <button type="button" class="btn-primary" (click)="validateToken()">
                Validar e Iniciar
              </button>
            </div>

            <p style="font-size: 0.8em; margin-top: 10px; color: var(--muted);">
              ¿No recibiste el código? <a (click)="requestToken()" style="cursor:pointer; color: blue;">Reenviar</a>
            </p>
          </div>
        }

        <div class="info-list">
          <div class="info-item">
            <span class="icon">🔒</span>
            <span>Tu información está segura y confidencial</span>
          </div>
        </div>
      </div>


      <div class="help">
        <p>¿Necesitas ayuda?</p>
        <a href="mailto:proveedores@nuvantglobal.com"> ---- </a>
      </div>
    </div>
    <!-- Footer -->
    <div class="provider-footer">
      Soporte:
      <a href="mailto:proveedores@nuvantglobal.com"> --- </a>
    </div>
  </div>

