<div class="overlay-backdrop" *ngIf="open">

  <div class="floating-modal fade-in-up">

    <div class="video-container">
      <video autoplay loop [muted]="true" volume="0" playsinline class="modal-video">
        <source src="/assets/loading2.mp4" type="video/mp4">
        Tu navegador no soporta videos HTML5.
      </video>
    </div>

    <div class="text-content">
      <h2 class="title">{{ title }}</h2>
      <p class="subtitle" *ngIf="subtitle">{{ subtitle }}</p>
    </div>

    <button class="btn-cancel" (click)="close.emit()">
      Cancelar
    </button>

  </div>

</div>
