<ng-container [ngSwitch]="config?.type">

  <select *ngSwitchCase="'select'"
          [value]="value"
          (change)="onInput($event)"
          class="dynamic-input">
    <option value="" disabled>Seleccione...</option>
    <option *ngFor="let opt of config?.options" [value]="opt">{{ opt }}</option>
  </select>

  <input *ngSwitchDefault
         [type]="config?.type === 'number' ? 'number' : 'text'"
         [value]="value"
         (input)="onInput($event)"
         (blur)="onTouched()"
         class="dynamic-input" />

</ng-container>
