<form [formGroup]="form" novalidate>
<div class="page">
  <div class="card">
    <div class="header">
      <img src="assets/nuvant-logo.svg" alt="Nuvant" />
      <div class="input-group">
        <h3>Digite su cédula:</h3>
        <div class="input-icon">
          <input
            type="text"
            placeholder="Ingrese su cédula"
            formControlName="cedula"
            (input)="numbers()"
             [ngClass]="{ 'is-invalid': cedula?.invalid && cedula?.touched }"
          />
          <span>🪪</span>

        </div>
         <div *ngIf="cedula?.invalid && cedula?.touched" class="error-message">
          <small *ngIf="cedula?.errors?.['required']">La cédula es requerida.</small>
          <small *ngIf="cedula?.errors?.['pattern']">Solo se permiten números.</small>
          <small *ngIf="cedula?.errors?.['minlength']">Debe tener al menos 6 dígitos.</small>
          <small *ngIf="cedula?.errors?.['maxlength']">No puede tener más de 10 dígitos.</small>
        </div>
      </div>
     <button type="button" class="btn consult" (click)="consultar()">Consultar</button>

    </div>

    <div class="body">
      <h1>Nueva solicitud de proveedor</h1>
      <p class="subtitle">Espacio exclusivo para Nuvant</p>
      <form class="form-card">
        <h3>Datos del solicitante (Nuvant)</h3>
        <p class="hint">*Espacio exclusivo para Nuvant</p>
        <div class="form-group">
          <label>Solicitado por *</label>
          <input type="text" placeholder="Seleccione o escriba un nombre..." formControlName="solicitante" />
        </div>
        <div class="grid-2">
          <div class="form-group">
            <label>Gerencia a la que pertenece *</label>
            <input type="text" placeholder="Gerencia" formControlName="gerencia" />
          </div>
          <div class="form-group">
            <label>Cargo del solicitante *</label>
            <input type="text" placeholder="Cargo" formControlName="cargo" />
          </div>
          <div class="form-group">
            <label>Area *</label>
            <input type="text" placeholder="Area" formControlName="Area" />
          </div>
        </div>
        <div class="form-group">
          <label>Tipo de proveedor *</label>
          <div class="chips">
            <button type="button" class="chip">Repuestos</button>
            <button type="button" class="chip">Servicios</button>
            <button type="button" class="chip">Asesoría / Consultoría</button>
            <button type="button" class="chip">Maquinaria</button>
            <button type="button" class="chip">Otros</button>
          </div>
          <input class="mt" type="text" placeholder="Describa otros..." />
        </div>
        <div class="form-group">
          <label>Clasificación del proveedor *</label>
          <select>
            <option>Seleccione</option>
          </select>
        </div>
        <div class="form-group">
          <label>Email del proveedor *</label>
          <div class="input-icon">
            <input type="email" placeholder="nombre@empresa.com" formControlName="email" />
            <span>✉️</span>
          </div>
          <div *ngIf="email?.invalid && email?.touched" class="error-message">
            <small *ngIf="email?.errors?.['required']">El email es requerido.</small>
            <small *ngIf="email?.errors?.['email']">Ingrese un email válido.</small>
          </div>
          <small>Se enviará aquí el enlace de registro al proveedor.</small>
        </div>
        <div class="form-group">
          <label>Observaciones para el proveedor (opcional)</label>
          <textarea maxlength="300" placeholder="Trl..."></textarea>
          <div class="counter">0 / 300</div>
        </div>
        <p class="note">
          La firma se solicitará después de la validación de Compras.
        </p>
        <div class="actions">
          <button type="button" class="btn secondary">Cancelar</button>
          <button type="button" class="btn primary" (click)="sendinvitation()">Enviar invitación</button>
        </div>
      </form>
    </div>
  </div>
</div>
</form>

